.pageHeader {
    margin-top: 30px;
    justify-content: center;
    width: 100%;
    color: var(--secondary-color);
    height: 80px;
    background-color: var(--primary-color-clear);
}

.boxed {
    box-shadow: 0 4px 2px -2px rgb(0 0 0 / 5%);
}