:root {
    --primary-color-clear: #ffdd86;
    --primary-color: #ffbc0d;
    --secondary-color: #db0006;
    --primary-bg-color: #e4e3d4;
    --title-color: #000000;
    --text-color: #322153;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F0F0F5;
    -webkit-font-smoothing: antialiased;
    color: var(--text-color);
}

body, input, button {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

button {
    background-color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: Ubuntu;
}