.content {
    display: flex;
    flex-direction: row;
}

.sidebar {
    min-width: 200px;
}

.restaurants {
    background-color: var(--primary-bg-color);
    width: 100%;
    padding-left: 10px;
    color: var(--text-color);
}

.stars {
    justify-content: right;
    display: flex;
    flex-direction: row;
}

.yellow-stars {
    color: #d4af37;
}

.gray-stars {
    color: #ffffff;
}

.candidates {
    width: 100%;
    padding-left: 10px;
    background-color: var(--primary-color-clear);
    color: var(--text-color);
}

.candidate {
    justify-content: space-between;
}

.candidate-efficiency {
    text-align: right;
}

.candidate-wallet {
    text-align: right;
}

.page {
    min-width: 400px;
    color: var(--text-color);
}

.inputRestoName {
    width: 9em;
}

.inputName {
    width: 5em;
}

.inputNumber {
    width: 3.9em;
}

h2 {
    color: var(--text-color);
}